<div class="databox secondary">
<h1>Find Me An Event!</h1>
    <form action="event-search" method="post">
    <fieldset>
        <legend>Area Settings</legend>
        <label for="area_search">Area</label>
        <input id="area_search" name="area_search">
        <label for="radius_search">Radius</label>
        <input id="radius_search" name="radius_search">
    </fieldset>
    <fieldset>
    <legend>Bar Settings</legend>
    <select name="price_range" id="price_range" placeholder="$-$$$" multiple>
        <option value="$">$</option>
        <option value="$$">$$</option>
        <option value="$$$">$$$</option>
        <option value="$$$$">$$$$</option>
    </select>
    <div class="databox primary">
        <h3>Search Tags</h3>
        <button class="tertiary left">Edit Tags</button>
        <button class="accent right">Add Tags</button>
        <br><br>
    </div>
    </fieldset>
    <button class="tertiary" type="reset">Cancel</button>
    <a href="event329442410117"><button class="primary right" type="submit">Search</button></a><br><br>
</form>
</div>