<body style="background-image: url('assets/melbourne-city-night.jpg');  background-color: #cccccc; background-size: cover; color: white; padding: 20px"></body>
    <div style="" class="databox primary about-body">
    <h1>ABOUT US</h1>
    <hr style="width: 80%;"><br>
    <h2>Watering Hole's Mission</h2>
    <h3>With a love of socialising and nightlife, Watering Hole seeks to provide it's users with the ability to connect with their friends and explore the world together.</h3><br><br>
    <h2>About Watering Hole</h2>
    <h3>A Melbourne-based start up built by nightlife enthusiasts, Watering Hole started as passion project to keep up with all the latest nightlife.</h3>
    <h3>With plans to expand into an international service, Watering Hole aims to become a regular tool for everyone to explore and expand their network of bars in the midst of good company. </h3><br><br>
    <h2>Come meet us at the Watering Hole...</h2>
    <div style="display: flex; justify-content: center; opacity: 1;">
    <a href="#" style="margin: 20px;"><img class="socials" src="assets/facebook.png">@wateringhole</a>
    <a href="#" style="margin: 20px;"><img class="socials" src="assets/instagram.png">@wateringhole</a>
    </div>
    <a href="/"><button class="secondary" style="margin: 0 auto; display: block; opacity: 1;">Back to Login</button></a>
    </div>
