<h1>contact us</h1>
<br>
<div class="contact-page-container">
    <div class="contact-info-container">
        <br><br>
        <h2>Contact Information</h2>
        <p>Fill a form out or contact us via the information below.</p>
        <br><br>
        <h3>+6141 345 678</h3>
        <h3>lorem@gmail.com</h3>
    </div>
    <div class="contact-container">
        <input class="contact-input" placeholder="First Name">
        <input class="contact-input" placeholder="Last Name">
        <input class="contact-input" placeholder="What's your email?">
        <input class="contact-question" placeholder="Question?">
        <button class="contact-us-button" >SEND MESSAGE</button>
    </div>
</div>