<body style="background-image: url('assets/city-lights.jpg');  background-color: #cccccc; background-size: cover;">
<img style="width: 40%;" src="/assets/wateringholeword.png" class="center">
<div class="login secondary">
    {{#each flash}}
        <div style="text-align: center">
            <div class="body-text">
                <p style=" color: #955a60">{{this}}</p>
            </div>
        </div>
        {{/each}}
    <h1 class="login-title">Login</h1>
    <div class="login-text-field">
      <form action="/login" method="post">
        <label for="username">Username</label>
        <input type="username" class="input-field" id="username" name="username">
        <label for="password">Password</label>
        <input type="password" class="input-field" id="password" name="password">
        <div class="login-admin-container">
          <a class="forgot-pass" href="#"><label for="password">Forgot Password?</label></a>
          <a href="user/create" class="forgot-pass" href="/user/create"><p>New User</p></a>
        </div>
        <div>
          <button class="tertiary login-btn btn-margin-right" type="reset">Cancel</button>
          <button class="primary login-btn">Login</button></a>
        </div>
        
      </form>
      <h5><a href="/about-us" style="cursor: pointer;"><em>About Us</em></a> · <a href="/manual" style="cursor: pointer;"><em>User Manual</em></a></h5>
    </div>
    
</div>
