<style>
    img{
         width: 60%;
    }
    div{
        margin: 0 auto;
        

    }
    .p_text{
          width: 60%;
    }
    p{
          text-align: left;
       font:2.5em Arial,Tahoma,Verdana;
       background:#fff
    }
</style>
<div>
     <div class="p_text">
        <p>Users can log in to the interface by entering their username and password. If you forget your password, you can find it by clicking on the Forgot Password button, or if you are a new user, you can register by clicking on the New User button.</p>
    </div>
    <div>
       <img src="\assets\login_user.png"/>
    </div>
       <div class="p_text">
        <p>Users can search by entering text in the search box, or set the price by setting the range to narrow it down partially, and select open now and favorites ony to choose the desired results, or click on tags or add tags to edit tags to search</p>
    </div>
    <div>
       <img src="\assets\search_user.jpg"/>
    </div>

       <div class="p_text">
        <p>If a user wants to contact us, they can enter their fist name and last name, their email address and the question they want to ask by going to the contact screen, clicking send, and when we see it, we will contact them.</p>
    </div>
    <div>
       <img src="\assets\contact_user.jpg"/>
    </div>
      <div class="p_text">
        <p>Users can select the type or range of query, by selecting different types, entering the content of the query, and clicking search to search for the data they want</p>
    </div>
    <div>
       <img src="\assets\search.jpg"/>
    </div>
      <div class="p_text">
        <p>Users can choose to click on add friend to add friends, each display user list has accept and declinean</p>
    <div>
       <img src="\assets\add.jpg"/>
    </div>
   
</div>