<body style="background-image: url('assets/bar-blurred.jpg');  background-color: #cccccc; background-size: cover; color: white; padding: 20px"></body>
<div style="width:60%; opacity: 0.9;" class="databox primary">
  <h1>Coming Soon...</h1><br><br>
  <a href="/"><button class="secondary" style="margin: 0 auto; display: block; opacity: 1;">Back to Login</button></a>
</div>