<body style="background-image: url('assets/bar-blurred.jpg');  background-color: #cccccc; background-size: cover; color: white; padding: 20px">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</body>
<div style="width:95%; opacity: 0.9;" class="databox primary">
    <h1>User Manual</h1>
        <div class="secondary databox">
            <h2>Demo</h2>
            <iframe class="demo-vid" width="1000" height="720" src="https://www.youtube.com/embed/Bw6YoezBO0k?autoplay=1&mute=1" allowfullscreen></iframe>
        </div>
        <div class="accordion databox">
            <li>
                <input type="radio" name="accordion" id="first">
                <label for="first">How do I add friends?</label>
                <div class="content">
                    <h2>Social</h2>

                    <p>Users can use the <em>Social Page</em> to find their friends and follow their activities! See what your friends are up to with <b>Friend Activity</b> and search your friend by their <em>username</em> with <b>Search User</b>.</p>
                    <h3>Friend Activity</h3>
                    <p>In <b>Friend Activity</b> you could see your friends' most recently favourited bars.</p>

                    <h3>Search User</h3>
                    <p><b>Search User</b> enables you to search for users by their username.<br> E.g. Searching"<em>john-smith</em>" will find the user with the Username @joe-smith to view their profile and add them into your friend list.</p>
                    <img class="accordion-img" src="assets/user-manual/social.png">
                </div>
            </li>
            <li>
                <input type="radio" name="accordion" id="second">
                <label for="second">How do I find bars?</label>
                <div class="content">
                    <h2>Bar Search</h2>
                    <p>Users can use the <em>Bar Search</em> to find their favourite bars from anywhere in the World! Choose between <b>Query Search</b> or <b>Area Search</b> to find and save your favourite bars.</p>
                    <h3>Query Search</h3>
                    <p><b>Query Search</b> allows you to perform a name-based search. Ensure to provide a <u>Type of Bar</u> and a <u>Location</u> when searching. Query Search uses Google Maps APIs to provide you with complex search options.<br> E.g "<em>Cocktail Bars in Melbourne</em>"
                        will show all cocktail bars within Melbourne CBD.</p>
                    <h3>Area Search</h3>
                    <p><b>Area Search</b> enables you to search for bars within a given area.<br> E.g. "<em>Fitzroy, Victoria</em>" will show you all bars within Fitzroy.</p>
                    <img class="accordion-img" src="assets/user-manual/bar-search.png">
                </div>
            </li>
            <li>
                <input type="radio" name="accordion" id="third">
                <label for="third">How do I save bars for a later date?</label>
                <div class="content">
                    <h2>Bucketlist, Favorite and Tags</h2>
                    <h3>Bucketlist</h3>
                    <p>Users can use the <b>Bucketlist</b> button to save all the bars they want to visit. Users should check out their Friend's bucketlist, and go explore together!</p>
                    <h3>Favourite</h3>
                    <p>The <b>Favourite</b> button allow users to save their favourite bars to be accessed faster in future <b>favorite search</b>. No longer will you be unsure of where to go on a night out.</p>
                    <h3>Add My Tags</h3>
                    <p><b>Add Tags</b> enables you add customizable tags to any bar to remember the attractions for future visits. <br> E.g. "<em>Whiskey Bar, Dancefloor, Rooftop, etc.</em>" </p>

                
                    <img class="accordion-img" src="assets/user-manual/bar-page.png">
                </div>
            </li>

            <li>
                <input type="radio" name="accordion" id="forth">
                <label for="forth">What if I don't know where to go?</label>
                <div class="content">
                    <h2>Favourite Search</h2>
                    <p>Users can use the <em>Favourite Search</em> to find all the bars they have saved, and can enter search parameters to find the perfect bar for the night. With <b>Area Name</b>, <b>Bar Status</b> and <b>Search Tags</b> it has never been easier to find a new favourite bar!</p>
                    <h3>Area Name</h3>
                    <p><b>Area Name</b> will help you limit <b>Favorite Search</b> in an area, concentrate on what you are looking for.<br> E.g "<em>Melbourne</em>"
                        will limit the search result within Melbourne area.</p>
                    <h3>Bar Status</h3>
                    <p><b>Bar Status</b> allows you to <u>Set Radius</u>, <u>Set Price Range</u> and use <u>Open Now</u> or <u>Favourites Only</u> to find bars on different occasions.
                    <h3>Search Tags</h3>
                    <p><b>Search Tags</b> enables you to search for bars by your custom tags to pinpoint your interests more accurately.<br> E.g. "<em>Rooftop, Techno</em>" will show you the bars you have saved with either Rooftop or Techno search tags.</p>
                    <img class="accordion-img" src="assets/user-manual/favourite-search.png">
                </div>
            </li>

            

        </ul>
</div>
<a href="/"><button class="secondary" style="margin: 0 auto; display: block; opacity: 1;">Back to Login</button></a>
<script src="darkmode.js">
</script>