<body style="background-image: url('assets/bar-blurred.jpg');  background-color: #cccccc; background-size: cover; color: white; padding: 20px">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  </body>
<div style="width:95%; opacity: 0.95;" class="databox primary">
  <h2>User Manual</h2>
   <div class="flex-container">
        <div style="width: 100%;" class="flex-row">

            <div class="databoxx secondary">
               <h2>Q: How do I add friends?</h2>
              

              <div class="wrapper">
                <div class ="collapsible">
                  <input type="checkbox" id="collapsible-head">
                  <label for="collapsible-head">Q: How do I search for bars?</label>
                  <div class="collapsible-text">
                    <h2>A: Give favorite bar search a shot!</h2>
                    <p>
                      In Favourite Bar Search, only bars which matchs your prefferences will be found.
                    </p>
                  </div>
                </div>
              </div>



            </div>
              
             
            </div>
          </div>
  <a href="/"><button class="secondary" style="margin: 0 auto; display: block; opacity: 1;">Back to Login</button></a>
</div>
<script src="darkmode.js">
    </script>