<div class="databox secondary">
    <h2>Add My Tags</h2>

    {{#each user.tags}}
        <div name="chip" class="chip" onclick="checked(this)">
            {{this}}
            <input style="display: none;" type="checkbox" id="{{this}}" name="{{this}}" value="{{this}}">
        </div>
    {{/each}}

    <br><br>
    
    <button class="primary right" type="submit" id="tags_button" name="tags_button">Add Tags</button>
        
  </div>