<div class="databox secondary">
    <h2>Search Tags</h2>

    {{#each user.tags}}
        <div name="chip" class="chip" onclick="checked(this)">
            {{this}}
            <input style="display: none;" type="checkbox" id="{{this}}" name="{{this}}" value="{{this}}">
        </div>
    {{/each}}

    <br><br>
    
    <button class="primary right" type="submit" id="tags_button" name="tags_button">Add Tags</button>
        
  </div>
<script>
      function checked(element) {
      element.classList.toggle("tagged");
      var checkbox = element.querySelector("input");

      checkbox.checked = !checkbox.checked;
      
      console.log(checkbox);
    }
</script>