<!doctype html>
<html>
<head>
<title>{{{title}}}</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap" rel="stylesheet">
<link href="/css/user-styles.css" rel="stylesheet" type="text/css">
<link href="/css/google-styles.css" rel="stylesheet" type="text/css">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8P18svM3ddTHDUV21aw8JGCcfwN0UGjw&libraries=places"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <!-- playground-hide -->
    <script>
      const process = { env: {} };
      process.env.GOOGLE_MAPS_API_KEY =
        "AIzaSyA8P18svM3ddTHDUV21aw8JGCcfwN0UGjw";
    </script>
    <!-- playground-hide-end -->

    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script type="module" src="./index.js"></script>

<meta name="description" content={{{title}}}>
</head>
<body>
    <header>
        <nav>
            <a href="/"><img src="/assets/nav/home.svg" alt="nav-icon" class="nav-icon filter-white"></a>
            <a href="/search/bar-search"><img src="/assets/nav/map-marker.svg" alt="nav-icon" class="nav-icon filter-white"></a>
            <a href="/user"><img src="/assets/nav/users.svg" alt="nav-icon" class="nav-icon filter-white"></a>
            <a href="/event"><img src="/assets/nav/ticket.svg" alt="nav-icon" class="nav-icon filter-white"></a>
            <a href="/search/favourites-search"><img src="/assets/nav/search-heart.svg" alt="nav-icon" class="nav-icon filter-white"></a>
            <a href="/settings"><img src="/assets/nav/settings.svg" alt="nav-icon" class="nav-icon filter-white"></a>
            <a href="/log-out"><img src="/assets/nav/power.svg" alt="nav-icon" class="nav-icon filter-white"></a>
        </nav>
    </header>
    {{{body}}}

</body>
</html>