<!doctype html>
<html>
<head>
<title>{{{title}}}</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap" rel="stylesheet">
<link href="/css/user-styles.css" rel="stylesheet" type="text/css">

<meta name="description" content={{{title}}}>
</head>
<body>
    <header>
        <nav>
            <a href="/"><h2>Login</h2></a>
            <a href="/manual"><h2>User Manual</h2></a>
            <a href="/about-us"><h2>About and  Us</h2></a>
           
                       <a href="/maps"><h2>map</h2></a>
                 
        </nav>
    </header>
    {{{body}}}
</body>
</html>