<!doctype html>
<html>
<head>
<title>{{{title}}}</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500&display=swap" rel="stylesheet">
<link href="/css/user-styles.css" rel="stylesheet" type="text/css">

<meta name="description" content={{{title}}}>
</head>
<body>
    <header>
        <nav>
            <ul class="nav-links">
                <li><a href="/login">Login</a></li>
                <li><a href="/manual">User Manual</a></li>
                <li><a href="/about-us">About Us</a></li>
                 <li><a href="/Map">map</a></li>
                    <li><a href="/Search">Search</a></li>
            </ul>    
        </nav>
        <a class="contact-btn" href="#"><button>Contact</button></a>
    </header>
    {{{body}}}
</body>
</html>