<!doctype html>
<html>
<head>
<title>{{{title}}}</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="icon" type="image/x-icon" href="/assets/wateringhole.png">
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500&display=swap" rel="stylesheet">
<link href="/css/user-styles.css" rel="stylesheet" type="text/css">

<meta name="description" content={{{title}}}>
</head>
<body>
    <header>
        <nav>
            <a href="/"><h2>Login</h2></a>
            <a href="/manual"><h2>User Manual</h2></a>
            <a href="/about-us"><h2>About Us</h2></a>   
        </nav>
        <a class="contact-btn" href="#"><button>Contact</button></a>
    </header>
    {{{body}}}
</body>
</html>