<!doctype html>
<html>
<head>
<title>{{{title}}}</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap" rel="stylesheet">
<link href="/css/user-styles.css" rel="stylesheet" type="text/css">
{{!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUCJ7yVgqagji_wdZSve1e2NJT7naHyws&libraries=places"></script> --}}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<meta name="description" content={{{title}}}>
</head>
<body>
    <header>
        <nav>
            <a href="/"><img src="/assets/nav/home.svg" alt="nav-icon" class="nav-icon filter-white"></a>
            <a href="/"><img src="/assets/nav/map-marker.svg" alt="nav-icon" class="nav-icon filter-white"></a>
            <a href="/"><img src="/assets/nav/users.svg" alt="nav-icon" class="nav-icon filter-white"></a>
            <a href="/"><img src="/assets/nav/ticket.svg" alt="nav-icon" class="nav-icon filter-white"></a>
            <a href="/"><img src="/assets/nav/search-heart.svg" alt="nav-icon" class="nav-icon filter-white"></a>
            <a href="/"><img src="/assets/nav/settings.svg" alt="nav-icon" class="nav-icon filter-white"></a>
            <a href="/"><img src="/assets/nav/power.svg" alt="nav-icon" class="nav-icon filter-white"></a>
        </nav>
    </header>
    {{{body}}}

    <footer>
    </footer>
</body>
</html>