<!doctype html>
<html>
<head>
<title>{{{title}}}</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap" rel="stylesheet">
<link href="/css/user-styles.css" rel="stylesheet" type="text/css">


<meta name="description" content={{{title}}}>
</head>
<body>
    <header>
        <nav>
            
            <ul class="nav-links">
                <li><a href="/"><img src="/assets/nav/home.svg" alt="nav-icon" class="nav-icon filter-white"></a></li>
                <li><a href="/search/bar-search"><img src="/assets/nav/map-marker.svg" alt="nav-icon" class="nav-icon filter-white"></a></li>
                <li><a href="/friends"><img src="/assets/nav/users.svg" alt="nav-icon" class="nav-icon filter-white"></a></li>
                {{!-- <a href="/event"><img src="/assets/nav/ticket.svg" alt="nav-icon" class="nav-icon filter-white"></a> --}}
                <li><a href="/search/favourites-search"><img src="/assets/nav/search-heart.svg" alt="nav-icon" class="nav-icon filter-white"></a></li>
                <li><a href="/user"><img src="\assets\nav\abstract-user-flat-4.svg" alt="nav-icon" class="nav-icon"></a></li>
            </ul>
        
        </nav>
        <div class="nav-links right">
            <ul>
                <li><a href="/settings"><img src="/assets/nav/settings.svg" alt="nav-icon" class="nav-icon filter-white"></a></li>
                <li><a href="/login"><img src="/assets/nav/power.svg" alt="nav-icon" class="nav-icon filter-white"></a></li>
            </ul>
        </div>       
    </header>
    {{{body}}}
</body>
</html>