
    <h1>Welcome To Melbourne</h1>
    <div class="flex-container">
        <div style="width: 75%;" class="flex-column">
            <div class="databox primary">
                <h2>Suggested Bars</h2>
                <div class="flex-container">
                    <div style="margin: 20px; padding: 10px" class="databox tertiary">
                        <div class="recommended-container">
                            <img src="\assets\bars\electric.jpg" alt="Electric Bar" class="recommended-bar">
                            <div class="middle">
                                <a href="/search/barChIJn7ENcCVo1moRej_wJaM1x-I"><div class="recommended-text">Electric Bar</div></a>
                            </div>
                        </div>
                    </div>
                    <div style="margin: 20px; padding: 10px" class="databox tertiary">
                        <div class="recommended-container">
                            <img src="\assets\bars\revs.jpg" alt="Revolver Upstairs" class="recommended-bar">
                            <div class="middle">
                                <a href="/search/barChIJ41lATiVo1moRzmbzZaaIcPE"><div class="recommended-text">Revolver Upstairs</div></a>
                            </div>
                        </div>
                    </div>
                    <div style="margin: 20px;" class="databox tertiary">
                        <div class="recommended-container">
                            <img src="\assets\bars\subclub.jpg" alt="Subclub" class="recommended-bar">
                            <div class="middle">
                                <a href="/search/barChIJScUnh7NC1moRx0yXwadJB9g"><div class="recommended-text">Sub Club</div></a>
                            </div>
                        </div>
                    </div>
                    <div style="margin: 20px; padding: 10px" class="databox tertiary">
                        <div class="recommended-container">
                            <img src="\assets\bars\xe54.jpg" alt="Xe54" class="recommended-bar">
                            <div class="middle">
                                <a href="/search/barChIJF0ZQuVVd1moRAFuYqUshfJQ"><div class="recommended-text">Xe54</div></a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="databox primary">
            <h2>Friend Activity</h2>
            <div class="chip white">
                <img src="\assets\avatars\avatar.svg" alt="Person">
                John Doe
            </div><br><br>
            <div class="chip white">
                <img src="\assets\avatars\avatar1.svg" alt="Person">
                Jane Smith
            </div><br><br>
            <div class="chip white">
                <img src="\assets\avatars\avatar2.svg" alt="Person">
                John Nash
            </div><br><br>
            <div class="chip white">
                <img src="\assets\avatars\avatar3.svg" alt="Person">
                Alan Turing
            </div><br><br>
        </div>
    </div>
</div>