<div class="databox secondary">
    <h1>Welcome {{user.displayName}}{{user.name}}</h1>
    <div class="flex-container">
        <div style="width: 75%;" class="flex-column">
            <div class="databox primary">
                <h2>Suggested Bars</h2>
                <div class="flex-container">
                    <div style="margin: 20px; padding: 10px" class="databox tertiary">
                        <div class="recommended-container">
                            <img src="\assets\bars\electric.jpg" alt="Electric Bar" class="recommended-bar home-bar">
                            <div class="middle">
                                <a href="/search/barChIJn7ENcCVo1moRej_wJaM1x-I"><div class="recommended-text">Electric Bar</div></a>
                            </div>
                        </div>
                    </div>
                    <div style="margin: 20px; padding: 10px" class="databox tertiary">
                        <div class="recommended-container">
                            <img src="\assets\bars\revs.jpg" alt="Revolver Upstairs" class="recommended-bar home-bar">
                            <div class="middle">
                                <a href="/search/barChIJ41lATiVo1moRzmbzZaaIcPE"><div class="recommended-text">Revolver Upstairs</div></a>
                            </div>
                        </div>
                    </div>
                    <div style="margin: 20px;" class="databox tertiary">
                        <div class="recommended-container">
                            <img src="\assets\bars\subclub.jpg" alt="Subclub" class="recommended-bar home-bar">
                            <div class="middle">
                                <a href="/search/barChIJScUnh7NC1moRx0yXwadJB9g"><div class="recommended-text">Sub Club</div></a>
                            </div>
                        </div>
                    </div>
                    <div style="margin: 20px; padding: 10px" class="databox tertiary">
                        <div class="recommended-container">
                            <img src="\assets\bars\xe54.jpg" alt="Xe54" class="recommended-bar home-bar">
                            <div class="middle">
                                <a href="/search/barChIJF0ZQuVVd1moRAFuYqUshfJQ"><div class="recommended-text">Xe54</div></a>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <br><br><br><br>
                <div class="flex-container">
                    <div style="margin: 20px; padding: 10px" class="databox tertiary">
                        <div class="recommended-container">
                            <img src="\assets\bars\espy.jpg" alt="Hotel Esplanade" class="recommended-bar home-bar">
                            <div class="middle">
                                <a href="/search/barChIJZwv6MGVo1moRnQQHiuprVB0"><div class="recommended-text">Hotel Esplanade</div></a>
                            </div>
                        </div>
                    </div>
                    <div style="margin: 20px; padding: 10px" class="databox tertiary">
                        <div class="recommended-container">
                            <img src="\assets\bars\pawnandco.jpeg" alt="Pawn & Co" class="recommended-bar home-bar">
                            <div class="middle">
                                <a href="/search/barChIJiU5hmSho1moRT9-_3c6_QEc"><div class="recommended-text">Pawn &#38; Co</div></a>
                            </div>
                        </div>
                    </div>
                    <div style="margin: 20px;" class="databox tertiary">
                        <div class="recommended-container">
                            <img src="\assets\bars\onesixone.jpg" alt="onesixone" class="recommended-bar home-bar">
                            <div class="middle">
                                <a href="/search/barChIJFd7ppDpo1moREpq8zhmlC4Y"><div class="recommended-text">onesixone</div></a>
                            </div>
                        </div>
                    </div>
                    <div style="margin: 20px; padding: 10px" class="databox tertiary">
                        <div class="recommended-container">
                            <img src="\assets\bars\gasometer.jpg" alt="Gasometer" class="recommended-bar home-bar">
                            <div class="middle">
                                <a href="/search/barChIJmTZyVxhD1moRtEso2Rjr_Is"><div class="recommended-text">Gasometer Hotel</div></a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="databox primary">
            
            <h2>Friend Activity</h2>
            <div class="friend-container">
                <img src="/assets/avatars/avatar.svg" alt="Avatar" style="width:120px">
                <a href="/user"><h2>Chris Fox</h2></a>
                <a href="/search/barChIJQ8vyLMpC1moRzQ7ZJD0BnVI">
                <p style="margin: 0;"><u>Boilermaker House</u></p>
                <p style="margin: 0;"><em>209-211 Lonsdale St, Melbourne VIC 3000</p>
                </a>
            </div>

            <div class="friend-container">
                <img src="/assets/avatars/avatar1.svg" alt="Avatar" style="width:120px">
                <a href="/user"><h2>Jane Doe</h2></a>
                <a href="/search/barChIJwaJkZLVC1moRdQPhwSG1v_I">
                <p style="margin: 0;"><u>Beneath Driver Lane</u></p>
                <p style="margin: 0;"><em>Shop/3 Driver Ln, Melbourne VIC 3000, Australia</p>
                </a>
            </div>

            <div class="friend-container">
                <img src="/assets/avatars/avatar2.svg" alt="Avatar" style="width:120px">
                <a href="/user"><h2>John Nash</h2></a>
                <a href="/search/barChIJAUyoSsRD1moROPfy4nTbsqs">
                <p style="margin: 0;"><u>Arboty Afloat</u></p>
                <p style="margin: 0;"><em>2, Flinders Walk, Melbourne VIC 3000, Australia</p>
                </a>
            </div>

            <div class="friend-container">
                <img src="/assets/avatars/avatar3.svg" alt="Avatar" style="width:120px">
                <a href="/user"><h2>Louis C. Carol</h2></a>
                <a href="/search/barChIJmfW-qk1d1moRewnuCAqvfY4">
                <p style="margin: 0;"><u>State of Grace</u></p>
                <p style="margin: 0;"><em>27 King St, Melbourne VIC 3000, Australia</p>
                </a>
            </div>
        </div>
    </div>
</div>