<div class="databox secondary">
    <h1>Welcome To Melbourne</h1>
    <div class="flex-container">
        <div style="width: 75%;" class="flex-column">
            <div class="databox primary">
                <h2>Suggested Bars</h2>
                <div  class="flex-container">
                    <div style="margin: 20px; padding: 10px" class="databox tertiary">
                        <h1>Bar:</h1><br><br><br><br><br><br>
                    </div>
                    <div style="margin: 20px; padding: 10px" class="databox tertiary">
                        <h1>Bar:</h1><br><br><br><br><br><br>
                    </div>
                    <div style="margin: 20px; padding: 10px" class="databox tertiary">
                        <h1>Bar:</h1><br><br><br><br><br><br>
                    </div>
                    <div style="margin: 20px; padding: 10px" class="databox tertiary">
                        <h1>Bar:</h1><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="databox primary">
            <h2>Friend Activity</h2>
            <div class="chip white">
                <img src="\assets\avatars\avatar.svg" alt="Person">
                John Doe
            </div><br><br>
            <div class="chip white">
                <img src="\assets\avatars\avatar1.svg" alt="Person">
                Jane Smith
            </div><br><br>
            <div class="chip white">
                <img src="\assets\avatars\avatar2.svg" alt="Person">
                John Nash
            </div><br><br>
            <div class="chip white">
                <img src="\assets\avatars\avatar3.svg" alt="Person">
                Alan Turing
            </div><br><br>
        </div>
    </div>
</div>