<img src="/assets/logo.jpg" class="center">
<div style="width: 1500px;" class="databox secondary">
<h1>LOGIN</h1><br><br><br>
<label for="username">Username</label>
<input id="username" name="username"><br><br><br><br>
<label for="password">Password</label><br>
<input id="password" name="password"><br><br><br><br><br><br>
<button class="tertiary" type="reset">Cancel</button>
<a href="/"><button class="primary right">Login</button></a><br><br>
</div>