<img style="width: 40%;" src="/assets/logo.jpg" class="center">
<div class="login secondary">
    <h1 class="login-title">Login</h1>
    <div class="login-text-field">
        <label for="username">Username</label>
        <input class="input-field" id="username" name="username">
        <label for="password">Password</label>
        <input class="input-field" id="password" name="password">
        <a class="forgot-pass" href="#"><label for="password">Forgot Password?</label></a><br><br>
        <button class="tertiary login-btn" type="reset">Cancel</button>
        <a href="/"><button class="secondary login-btn">Login</button></a>
    </div>
</div>