<img style="width: 40%;" src="/assets/logo.jpg" class="center">
<div class="login accent">
    <h1 class="login-title">Login</h1>
    <div class="login-text-field">
        <label for="username">Username</label>
        <input class="input-field" id="username" name="username">
        <label for="password">Password</label>
        <input class="input-field" id="password" name="password">
        <a class="forgot-pass" href="#"><label for="password">Forgot Password?</label></a>
        <a href="user/create" class="forgot-pass right" href="/user/create"><p>New User</p></a><br><br>
        <button class="tertiary login-btn" type="reset">Cancel</button>
        <a href="/login"><button class="primary login-btn">Login</button></a>
    </div>
</div>
OR
<div class="card-action">
  <a href="/auth/facebook" class="waves-effect waves-light btn social facebook">
    <i class="fa fa-facebook"></i> Sign in with facebook
  </a>
</div>