<div>

    <div class="map_box">
        <div class="map_left">
            <h1>Map Search Bars</h1>
      <img src="/assets/map.jpg" class="center">
        </div>
        <div class="map_right">
            <div class="map_search">
                Search...
            </div>
            <div class="map_set">
                Set Radius
            </div>
            <div class="map_set_price">
                Set  Price Range
            </div>
            <div class="map_open">
                    Open Now
            </div>
            <div class="may_favourites">
                Favourites Only

            </div>
            <div class="map_search_tags">

            </div>
            <div>
                <button>Search</button>
            </div>
        </div>
    </div>
</div>
