<div>

    <div class="map_box">
        <div class="map_left">
            <div>
   <h1>Map Search Bars</h1>
         <img src="/assets/map.jpg" />
            </div>
         
        </div>
        <div class="map_right">
            <div class="map_search">
                <div >
                   <img src="/assets/sousuo.png" alt="">
                </div>
             
                <div class="search_box">
                        Search...
                </div>
                    
             
             
                
                <div class="image1">
                     <img src="/assets/cuowu.png"/>
                </div>
              
            </div>
            <div class="map_set">
                   <div class="text_set">
                    &nbsp&nbsp &nbsp &nbsp &nbsp&nbsp Set Radius
                   </div>
                <div>
                    <img src="\assets\xiashuangjiantou.png">
                </div>
            </div>
            <div class="map_set_price">
              
                  <div class="text_set">
                 &nbsp&nbsp &nbsp &nbsp &nbsp&nbsp  Set  Price Range
                </div>
                   <div>
                    <img src="\assets\xiashuangjiantou.png">
                </div>
            </div>
            <div class="map_open">
                  <div class="text_set">
                      &nbsp&nbsp &nbsp &nbsp &nbsp&nbsp  Open Now
                    </div>
                    <div>
                          <img src="\assets\xuanzekuanghou.png">
                    </div>

                   
            </div>
            <div class="may_favourites">
                  <div class="text_set">
                          &nbsp&nbsp &nbsp &nbsp &nbsp&nbsp Favourites Only
                    </div>
                    <div>
                          <img src="\assets\xuanze-.png">
                    </div>
             

            </div>
            <div class="map_search_tags">
                <div class="search_tags">Seach Tags</div>
                <div class="tag_box">
                    <div>Open Late</div>
                    <div>Rooftop</div>
                    <div>Techno</div>
                </div>
                <div class="roof">
                    Rooftop
                </div>
                <div class="white_box">
                    <div class="one"></div>
                    
                    <div class="two"></div>
                </div>

            </div>
            <div class="search_button">
              Search
            </div>
        </div>
    </div>
</div>
