<div>

    <div class="map_box">
        <div class="map_left">
            <div>
   <h1>Map Search Bars</h1>
         <img src="/assets/map.jpg" />
            </div>
         
        </div>
        <div class="map_right">
            <div class="map_search">
                Search...
            </div>
            <div class="map_set">
                Set Radius
            </div>
            <div class="map_set_price">
                Set  Price Range
            </div>
            <div class="map_open">
                    Open Now
            </div>
            <div class="may_favourites">
                Favourites Only

            </div>
            <div class="map_search_tags">
                <div class="search_tags">Seach Tags</div>
                <div class="tag_box">
                    <div>Open Late</div>
                    <div>Rooftop</div>
                    <div>Techno</div>
                </div>
                <div class="roof">
                    Rooftop
                </div>
                <div class="white_box">
                    <div class="one"></div>
                    
                    <div class="two"></div>
                </div>

            </div>
            <div class="search_button">
              Search
            </div>
        </div>
    </div>
</div>
