    <div id="map"></div>
    <textarea type ="hidden" id ="tourstops">{{stringTourStopsFav}}</textarea>

    <!-- 
     The `defer` attribute causes the callback to execute after the full HTML
     document has been parsed. For non-blocking uses, avoiding race conditions,
     and consistent behavior across browsers, consider loading using Promises
     with https://www.npmjs.com/package/@googlemaps/js-api-loader.
    -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8P18svM3ddTHDUV21aw8JGCcfwN0UGjw&callback=initMap&libraries=marker&v=beta"
      defer
    ></script>


<script type="text/javascript">
function initMap() {
    const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 6,
        center: { lat: -37.8136, lng: 144.9631 },
        mapId: "4504f8b37365c3d0",
    });
    // Set LatLng and title text for the markers. The first marker (Boynton Pass)
    // receives the initial focus when tab is pressed. Use arrow keys to
    // move between markers; press tab again to cycle through the map controls.
    console.log(document.getElementById("tourstops").value);
    let jsonTourStopsFav = JSON.parse(document.getElementById("tourstops").value);
    console.log(jsonTourStopsFav);
    for (let location of jsonTourStopsFav) {
        location.position.lat = parseFloat(location.position.lat);
        location.position.lng = parseFloat(location.position.lng);
    }
    const tourStops = jsonTourStopsFav
    // Create an info window to share between markers.
    const infoWindow = new google.maps.InfoWindow();

    // Create the markers.
    tourStops.forEach(({ position, title }, i) => {
        const pinView = new google.maps.marker.PinView({
        glyph: `${i + 1}`,
        });
        const marker = new google.maps.marker.AdvancedMarkerView({
        position,
        map,
        title: `${i + 1}. ${title}`,
        content: pinView.element,
        });

        // Add a click listener for each marker, and set up the info window.
        marker.addListener("click", ({ domEvent, latLng }) => {
        const { target } = domEvent;

        infoWindow.close();
        infoWindow.setContent(marker.title);
        infoWindow.open(marker.map, marker);
        });
    });
    }

    window.initMap = initMap;
</script>