<div class="search_box">
    <div class="search_left">
     
            <h1>Pick Me A Favourite</h1>
             <div class="search_search">
                <div >
                   <img src="/assets/sousuo.png" alt="">
                </div>
             
                <div class="search_box">
                       Search...
                </div>
                
                <div class="image1">
                     <img src="/assets/cuowu.png"/>
                </div>
              
            </div>
            <div class="search_sets">
                   <div class="search_set">
                   <div class="text_set">
                    &nbsp&nbsp &nbsp &nbsp &nbsp&nbsp Set Radius
                   </div>
                <div>
                    <img src="\assets\xiashuangjiantou.png">
                </div>
            </div>
            <div class="search_set_price">
              
                  <div class="text_set">
                 &nbsp&nbsp &nbsp &nbsp &nbsp&nbsp  Set  Price Range
                </div>
                   <div>
                    <img src="\assets\xiashuangjiantou.png">
                </div>
            </div>

            </div>
         
            <div class="search_open">
                  <div class="text_set">
                      &nbsp&nbsp &nbsp &nbsp &nbsp&nbsp  Open Now
                    </div>
                    <div>
                          <img src="\assets\xuanzekuanghou.png">
                    </div>

                   
            </div>
            <div class="search_favourites">
                  <div class="text_set">
                          &nbsp&nbsp &nbsp &nbsp &nbsp&nbsp Favourites Only
                    </div>
                    <div>
                        <img src="\assets\xuanzekuanghou.png">
                    </div>
             

            </div>
            <div class="search_search_tags">
                <div class="search_tags">Seach Tags</div>
                <div class="tag_box">
                    <div>Open Late</div>
                    <div>Rooftop</div>
                    <div>Techno</div>
                </div>
                <div class="roof">
                    Rooftop
                </div>
                <div class="white_box">
                    <div class="one"></div>
                    
                    <div class="two"></div>
                </div>

            </div>

    </div>
    <div class="search_right">

    </div>

</div>