<div class="search_box">
    <div class="search_left">
     
            <h1>Pick Me A Favourite</h1>
             <div class="search_search">
                <div >
                   <img src="/assets/sousuo.png" alt="">
                </div>
             
                <div class="searchs_box">
                       Search...
                </div>
                
                <div class="image1">
                     <img src="/assets/cuowu.png"/>
                </div>
              
            </div>
            <div class="search_sets">
                   <div class="search_set">
                   <div class="text_set">
                    &nbsp&nbsp &nbsp &nbsp &nbsp&nbsp Set Radius
                   </div>
                <div>
                    <img src="\assets\xiashuangjiantou.png">
                </div>
            </div>
            <div class="search_set_price">
              
                  <div class="text_set">
                 &nbsp&nbsp &nbsp &nbsp &nbsp&nbsp  Set  Price Range
                </div>
                   <div>
                    <img src="\assets\xiashuangjiantou.png">
                </div>
            </div>

            </div>
         
            <div class="search_open">
                  <div class="text_set">
                      &nbsp&nbsp &nbsp &nbsp &nbsp&nbsp  Open Now
                    </div>
                    <div>
                          <img src="\assets\xuanzekuanghou.png">
                    </div>

                   
            </div>
            <div class="search_favourites">
                  <div class="text_set">
                          &nbsp&nbsp &nbsp &nbsp &nbsp&nbsp Favourites Only
                    </div>
                    <div>
                        <img src="\assets\xuanzekuanghou.png">
                    </div>
             

            </div>
            <div class="search_search_tags">
                <div class="search_tags">Seach Tags</div>
                <div class="tag_box">
                    <div>Open Late</div>
                    <div>Rooftop</div>
                    <div>Techno</div>
                </div>
              
                <div class="white_box">
                    <div class="one">Edit Tags</div>
                    
                    <div class="two">Add Tags+</div>
                </div>

            </div>
            <div class="button_box">
                <div class="cancel_button">
                    Cancel

                </div>
                <div class="searchs_button">
                    Search
                </div>
            </div>

    </div>
    <div class="search_right">
      <div class="h1">Recently Visited</div>
        <div class="message_box ">
            <div class="message_image"> 
                <img src="\assets\i.jpg">
            </div>
            <div class="message_text">
                <div class="message_name">Boilermaker House
</div>
                <div class="message_time">209-211 Lonsdale St, Melbourne VIC 3000
</div>
                <div class="message_i">Rekaxed, oid-tirney hideaway for charcuterie boards, burgers &aysters, plus beer & funky cocktails.
</div>
            </div>
        </div>
             <div class="message_box ">
            <div class="message_image"> 
                <img src="\assets\ithree.jpg">
            </div>
            <div class="message_text">
                <div class="message_name">Beneath Driver Lane
</div>
                <div class="message_time">Shop/3 Driver Ln, Melbourne VIC 3000
</div>
                <div class="message_i">Cocktails, spirits & French bites in an adl-timey undergroundhangout with live music on weekends.
</div>
            </div>
        </div>
             <div class="message_box ">
            <div class="message_image"> 
                <img src="\assets\ione.jpg">
            </div>
            <div class="message_text">
                <div class="message_name">Union Electric Bar & Rooftop Gin Garden
</div>
                <div class="message_time">13 Heffernan Ln, Melbourne vIC 30oo
</div>
                <div class="message_i">Stylish bar with exposed brick walls and a rooftop gardien servingwice variety of cocktails.
</div>
            </div>
        </div>
             <div class="message_box ">
            <div class="message_image"> 
                <img src="\assets\itwo.jpg">
            </div>
            <div class="message_text">
                <div class="message_name">State of Grace
</div>
                <div class="message_time">27 King Sr, Melbourne VIC 300o
</div>
                <div class="message_ithree">Restaurant and cellar bor with kitsch decor including a mountedgiraffe, for Modern European food.
</div>
            </div>
        </div>
             <div class="message_box ">
            <div class="message_image"> 
                <img src="\assets\ifour.jpg">
            </div>
            <div class="message_text">
                <div class="message_name">Section 8
</div>
                <div class="message_time">27-29 Tattersalls Ln, Melbourne VIC 300o
</div>
                <div class="message_i">Buzzy open-air bar with drinks served from a shipping container,DJs and graffiti-covered walls
</div>
            </div>
        </div>
        


        

    </div>

</div>