<div class="databox secondary">
    <img style="width: 300px; height: auto;" src="\assets\nav\abstract-user-flat-4.svg">
    <fieldset>
        <legend>General</legend>
        <label for="username">Username</label><br>
        <input id="username" name="username" value="{{user.username}}" disabled><br>
        <label for="password">Password</label><br>
        <input id="password" name="password" value="**************" disabled><br>
    </fieldset>
    <fieldset>
        <legend>Social</legend>
    </fieldset>
    <fieldset>
        <legend>Accessibility</legend>
    </fieldset>

</div>