<main>
    <div class="body-text primary">
        <a><img onclick= "history.back()" src="/assets/backbutton.svg" alt="back-button" class="backbutton-icon left"></a>
        <h1>Create Account</h1>
        <section>
            <form action='create' method="post">
                <fieldset>                    
                    <div class="row"> <!-- Splitting form into 2 columns -->
                        <div class="column"> <!-- first column -->
                            <label for="name">Full Name:</label>
                            <input type="formtext" name="name" id="name" placeholder="John Doe">                                                        

                            <label for="username">Username:</label>
                            <input type="formtext" name="username" id="username" placeholder="username">

                            <label for="password">Password:</label>
                            <input type="password" name="password" id="password" placeholder="********">
                                                   
                        </div>
                    <button class="tertiary left" type="reset" id="cancel">Cancel</button>
                    <button class="secondary right" type="submit" id="submit">Register New User</button> <!-- submit button -->
                    
                </fieldset>
            </form>
        </section>
    </div>
</main>
