<h1>Bar Search</h1>
<form action="/search/bar-search" method="post">
    <label for="bar_name">Enter your Place Search text </label>
    <input id="bar_name" name="bar_name">
    <button type="submit">Search</button>
</form>