<div class="center" style="width: 90%;">
<div class="w3-bar w3-black">
    <button class="w3-bar-item w3-button tablink w3-teal" onclick="openCity(event,'query')">Query Search</button>
    <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'area')">Area Search</button>
  </div>
<div id="query" class="w3-container w3-border city secondary">
    <form action="/search/bar-search" method="post">
        <h2>Query Search</h2>
        <label for="bar_name">Enter your Bar Search text </label><br>
        <input id="bar_name" name="bar_name" placeholder="e.g. Cocktail bar in Melbourne"><br>
        <button class="primary right" type="submit">Search</button><br><br><br><br>
    </form>
</div>
<div id="area" class="w3-container w3-border city secondary" style="display:none">
    <form action="/search/area-search" method="post">
        <h2>Area Search</h2>
        <label for="area_name">Enter the area to search </label><br>
        <input id="area_name" name="area_name" placeholder="e.g. Fitzroy Victoria"><br>
        <label for="area_radius">Enter the radius of the search (metres)</label><br>
        <input id="area_radius" name="area_radius" placeholder="e.g 2000"><br>
        <button class="primary right" type="submit">Search</button><br><br><br><br>
    </form>
</div>
</div>
<script>
    function isQuery(bool){
        var query = document.getElementById("query");
        var area = document.getElementById("area");
        var query_btn = document.getElementById("query-btn");
        var area_btn = document.getElementById("area-btn");
        if (bool == true) {
            query.style.display = "block";
            query_btn.classList.add('primary');
            if ( query_btn.classList.contains('tertiary') ){
                query_btn.classList.remove('tertiary');
            }

            area.style.display = "none";
            area_btn.classList.add('tertiary');
            if ( area_btn.classList.contains('primary') ){
                area_btn.classList.remove('primary');
            }
        } else {
            area.style.display = "block";
            area_btn.classList.add('primary');
            if ( area_btn.classList.contains('tertiary') ){
                area_btn.classList.remove('tertiary');
            }

            query.style.display = "none";
            query_btn.classList.add('tertiary');
            if ( query_btn.classList.contains('primary') ){
                query_btn.classList.remove('primary');
            }
        }
    }
    function openCity(evt, cityName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("city");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w3-teal", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " w3-teal";
        }
</script>