<div class="center query-body">
    <div class="w3-bar w3-black" style="margin:0;padding:0;">
        <button style="border-radius: 0;" class="w3-bar-item w3-button tablink w3-teal" onclick="openCity(event,'query')">Query Search</button>
        <button style="border-radius: 0;" class="w3-bar-item w3-button tablink" onclick="openCity(event,'area')">Area Search</button>
    </div>
    <div id="query" class="w3-container w3-border city tertiary bottom-radius" style="padding:2rem; height:576px; margin-top:0;">
        <form action="/search/bar-search" method="post">
            <h2 style="margin-top: 2rem;margin-bottom: 2rem;font-size:40px">Query Search<span class="tooltip"><img style="width: 20px; height: auto; background-colour: white;" src="/assets/tooltip.svg">
            <p><span class="tooltiptext">Search based on complex searches</span></p>
            </span>
            </h2>
            <label class="query-label" for="bar_name">Enter your bar search text.</label><br>
            <input class="center query-text" id="bar_name" name="bar_name" placeholder="e.g. Cocktail bar in Melbourne"><br>
            <button class="secondary query-btn-left" type="reset">Cancel</button>
            <button class="primary right query-btn-right" type="submit">Search</button><br><br><br><br>
        </form>
    </div>
    <div id="area" class="w3-container w3-border city tertiary bottom-radius" style="display:none;padding:2rem; height:576px;">
        <form action="/search/area-search" method="post">
            <h2 style="margin-top: 2rem;margin-bottom: 2rem;font-size:40px">Area Search<span class="tooltip"><img style="width: 20px; height: auto; background-colour: white;" src="/assets/tooltip.svg">
            <p><span class="tooltiptext">Search for bars in an area</span></p>
            </span></h2>
            <label class="query-label" for="area_name">Enter the area to search.</label><br>
            <input class="center query-text" id="area_name" name="area_name" placeholder="e.g. Fitzroy Victoria">
            <input class="center query-text" id="area_radius" name="area_radius" value="2000" type="hidden"><br>
            <button class="secondary query-btn-left" type="reset">Cancel</button>
            <button class="primary right query-btn-right" type="submit">Search</button><br><br><br><br>
        </form>
    </div>
</div>
<script>
    function isQuery(bool){
        var query = document.getElementById("query");
        var area = document.getElementById("area");
        var query_btn = document.getElementById("query-btn");
        var area_btn = document.getElementById("area-btn");
        if (bool == true) {
            query.style.display = "block";
            query_btn.classList.add('primary');
            if ( query_btn.classList.contains('tertiary') ){
                query_btn.classList.remove('tertiary');
            }

            area.style.display = "none";
            area_btn.classList.add('tertiary');
            if ( area_btn.classList.contains('primary') ){
                area_btn.classList.remove('primary');
            }
        } else {
            area.style.display = "block";
            area_btn.classList.add('primary');
            if ( area_btn.classList.contains('tertiary') ){
                area_btn.classList.remove('tertiary');
            }

            query.style.display = "none";
            query_btn.classList.add('tertiary');
            if ( query_btn.classList.contains('primary') ){
                query_btn.classList.remove('primary');
            }
        }
    }
    function openCity(evt, cityName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("city");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w3-teal", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " w3-teal";
    }
    function initialize() {
        var input = document.getElementById('area_name');
        new google.maps.places.Autocomplete(input);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
<body>

  

</body>
<script>
    
</script>