<div class="databox tertiary" style="border-radius:25px;width:60%;padding:0 8% 0 8%;padding-bottom:3rem;">
    <h1 style="margin-top: 3rem;">My Favourites</h1>
    <form action="favourites-search" method="post">
        <div class="center" style="width:90%;padding:2% 0 3% 0;">
            <label style="font-size:20px" for="area_name">Search an Area</label><br>
            <input id="area_name" name="area_name"><br>
        </div>
        <div style="display: flex;">
            <fieldset style="width:48%;flex:2;border-radius:25px;padding:0 10% 0 10%;background-color:#0E897D;border:none;">
                <legend style="font-size:20px;">Bar Settings</legend>
                <select name="price_range" id="price_range" placeholder="$-$$$">
                    <option name="1" value="1">$</option>
                    <option name="2" value="2">$$</option>
                    <option name="3" value="3">$$$</option>
                    <option name="4" value="4">$$$$</option>
                </select><br>
                <label for="below">Include below prices</label><br>
                <input name="below" style="float: left; width: auto" type="checkbox">
            </fieldset>

            <fieldset style="width:48%;flex:3;border-radius:25px;padding:1rem;background-color:#0E897D;border:none;">
                <legend style="font-size:20px">Search Tags</legend>
                {{#each user.tags}}
                <div name="chip" class="chip" onclick="checked(this)">
                    {{this}}
                    <input style="display: none;" type="checkbox" id="{{this}}" name="{{this}}" value="{{this}}">
                </div>
                {{/each}}
            </fieldset>
        </div>
        <div style="margin-top: 2rem;">
            <button style="font-size:20px" class="secondary" type="reset">Cancel</button>
            <button style="font-size:20px" class="primary right" type="submit">Search</button><br><br>
        </div>
        
    </form>
</div>

<script>
    function checked(element) {
        element.classList.toggle("tagged");
        var checkbox = element.querySelector("input");
        console.log(checkbox)

        checkbox.checked = !checkbox.checked;

        console.log(checkbox);
    }

    function initialize() {
        var input = document.getElementById('area_name');
        new google.maps.places.Autocomplete(input);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>