<img style="position: relative; top: 40px; left: 80px; cursor: pointer" class="left" src="/assets/backbutton.svg" onclick="history.back()">>
<h1>Favourites Search Results</h1>
<div class="databox primary">
    {{#each favourites}}
        <div class="databox tertiary">
            <a href="/search/bar{{this.id}}"><h2>{{this.name}}</h2>
            <h3>{{this.address}}</h3></a>
        </div>
    {{/each}}
</div>