<div class="search_box">
    <div class="search_left">
     
            <h1>Pick Me A Favourite</h1>
            <form action="favourites-search" method="post">
           <div class="center" style="width:90%;">

            <input id="area_name" name="area_name" class="search_search" placeholder="Search an Area">
        </div>
       
            <div class="search_sets">
                   <div class="search_set">
                   <div class="text_set">
                    <div class="set_radius_text">&nbsp&nbsp &nbsp &nbsp &nbsp&nbsp Set Radius</div>
                     <div class="sets_choose">
                    
                     <div class="sets_box"> 1m---500m</div>
                     <div class="sets_box"> 500m---1000m</div>
                     <div class="sets_box"> 1000m---2000m</div>
                     <div class="sets_box"> 2000+m</div>
                      
                 </div>
                   </div>
                <div>
                    <img src="\assets\xiashuangjiantou.png" class="set_down">
                </div>
            </div>
            <div class="search_set_price">
              
                  <div class="text_set">
                <div class="set_price_text"> &nbsp&nbsp &nbsp &nbsp &nbsp&nbsp  Set  Price Range</div>
                 <div class="price_choose">
                    
             
                       <div class="price_box">1$---100$ </div>
                         <div class="price_box">500$---1000$</div>
                         <div class="price_box"> 1001$+</div>
 
                     
                 </div>
             
                </div>
                
                   <div>
                    <img src="\assets\xiashuangjiantou.png" class="price_down">
                </div>
            </div>

            </div>
         
            <div class="search_open">
                  <div class="text_set">
                      &nbsp&nbsp &nbsp &nbsp &nbsp&nbsp  Open Now
                    </div>
                    <div>
                         <img src="\assets\choose.png" class="open_choose"/>
                          <img src="\assets\xuanzekuanghou.png" class="open_choosed">
                    </div>

                   
            </div>
            <div class="search_favourites">
                  <div class="text_set">
                          &nbsp&nbsp &nbsp &nbsp &nbsp&nbsp Favourites Only
                    </div>
                    <div>
                        <img src="\assets\choose.png" class="only_choose"/>
                        <img src="\assets\xuanzekuanghou.png" class="only_choosed">
                    </div>
             

            </div>
            <div class="search_search_tags">
                <div class="search_tags">Seach Tags</div>
             
                <div class="tag_box">
                 
            
        
                </div>
              
                <div class="white_box">
                    <div class="one">Edit Tags</div>
                    
                    <div class="two">Add Tags+</div>
                </div>

            </div>
         <div style="margin-top: 2rem;">
            <button style="font-size:20px" class="button_box " type="reset">Cancel</button>
            <button style="font-size:20px" class="button_box" type="submit">Search</button><br><br>
        </div>
    </form>

    </div>
 
        


        

    </div>

</div>

 
<script type="text/javascript"src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>

  $(function(){



    function checked(element) {
        element.classList.toggle("tagged");
        var checkbox = element.querySelector("input");
        console.log(checkbox)

        checkbox.checked = !checkbox.checked;

        console.log(checkbox);
    }

    function initialize() {
        var input = document.getElementById('area_name');
        new google.maps.places.Autocomplete(input);
    }

    google.maps.event.addDomListener(window, 'load', initialize);

    var $sets_choose=$('.sets_choose')
    var $price_choose=$('.price_choose')
    var open_choose=false;
    var only_choose=false;
    var set_raduis='';
    var set_price='';
    var list=[
          {
            name:"Rooftop"
          },
           {
            name:"Techno"
          },
           {
            name:"Open Late"
          }
        ]
   var  tag=[]
  
// sets click
$(".set_down").click(function(){
    $sets_choose.toggle()

})
//set choose box click

$('.sets_box').click(function(event){
       var target = $(event.target); 
       console.log(target.html())
       $('.set_radius_text').text(target.text()) 
          set_raduis=target.text()
          $sets_choose.hide()
         
    });
// choose box click
$('.price_box').click(function(event){
       var target = $(event.target); 
       console.log(target.html())
       $('.set_price_text').text(target.text()) 
    $price_choose.hide()
    set_price=target.text()
         
    });
// price click
$(".price_down").click(function(){
   $price_choose.toggle()

})
//open now choose 
$('.open_choose').click(function(){
     open_choose=true ;
   
    $('.open_choose').hide();
    $('.open_choosed').show();
})
$('.open_choosed').click(function(){
     open_choose=false;
    $('.open_choosed').hide();
     $('.open_choose').show();
})
//only choose
$('.only_choose').click(function(){
     only_choose= true ;
    $('.only_choose').hide();
    $('.only_choosed').show();
})
$('.only_choosed').click(function(){
     only_choose=false;
    $('.only_choosed').hide();
    $('.only_choose').show();
})
//tag for 


let knifeItemStr=list.map((item,index)=>{
    return `
        
            <div class="tag_name">${item.name}</div>
      
    `
}).join(" ")
document.querySelector('.tag_box').innerHTML=knifeItemStr

//add tag+ click
$('.two').click(function(){
    var name=prompt("please input tags name");
    var name_tag={
          name:name
    }
    list.push(name_tag)
    console.log(list)
    let knifeItemStr=list.map((item,index)=>{
    return `
        
            <div class="tag_name">${item.name}</div>
      
    `
}).join(" ")
document.querySelector('.tag_box').innerHTML=knifeItemStr

})

//eidt tags click
$('.one').click(function(){
    if(name!=null){
 var name=prompt("please input delete tags name")
    }
   
    var pos=$.inArray(name,list);
           list.splice(pos,1);
    
     let knifeItemStr=list.map((item,index)=>{
    return `
        
            <div class="tag_name">${item.name}</div>
      
    `
}).join(" ")
document.querySelector('.tag_box').innerHTML=knifeItemStr

});

///tag click change color 
$(".tag_box").on("click",".tag_name",function(){ 
       console.log($(this).css("background-color"))

     
       if($(this).css("background-color")=="rgb(245, 245, 245)"){
             $(this).css({"background-color":"rgb(145, 145, 245)"})
              tag.push($(this).html())
       }else{
        $(this).css({"background-color":"rgb(245, 245, 245)"})
         var pos=$.inArray(name,tag);
           tag.splice(pos,1);
       }
         console.log(tag)
    });



  $(".searchs_button").click(function(){
   var txt=$(".search_input").val();
         var serach_meassage=[
       {
        text:txt
       },
       {
        tag:tag
       },
       {
          set_raduis:set_raduis
       },
       {
        set_price:set_price
       },
       {     open_choose:open_choose
       

       },
       {
         only_choose: only_choose
       }
    ]

    console.log(serach_meassage)
   if($.trim(txt)!=""){
     location.reload();
        $.post("",{'serach_meassage':serach_meassage},function(data){
        
        alert(data);
    });
   }
  });
 })
</script>