<div class="databox secondary">
<h1>Find Me A Favourite!</h1>
    <form action="favourites-search" method="post">
    
    <fieldset>
        <legend>Area Settings</legend>
        <label for="area_search">Area</label>
        <input id="area_search" name="area_search">
        <label for="radius_search">Radius</label>
        <input id="radius_search" name="radius_search">
    </fieldset>
    <fieldset>
    <legend>Bar Settings</legend>
    <select name="price_range" id="price_range" placeholder="$-$$$" multiple>
        <option value="$">$</option>
        <option value="$$">$$</option>
        <option value="$$$">$$$</option>
        <option value="$$$$">$$$$</option>
    </select>
    {{> search-tags}}
    </fieldset>
    <button class="tertiary" type="reset">Cancel</button>
    <button class="primary right" type="submit">Search</button><br><br>
</form>
</div>