<div class="databox secondary">
    <div class="databox primary">
        <h3>Add Search Tags</h3>
        
        <div class="databox tertiary">
            <table>
            <tr>
                <th><button>Global</button></th>
                <th><button>My Tags</button></th>
                <th><button>New Tags</button></th>
            </tr>
        </table>
            <br><br><br><br>
        </div>
        <button class="tertiary left">Edit Tags</button>
        <button class="accent right">Add Tags</button>
        <br><br>
    </div>
</div>